body {
    font-family: 'Roboto Condensed', sans-serif;

}

.flexible-container {
    background-image: url(images/donation13.jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;

}

p {
    text-align: center;
    color: white;
    font-weight: 500;

}

.donate-today {
    color: black;
    text-align: center;
}

#link1 {
    text-align: center;
    display: block;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

.donate-plan {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    background-color: white;

}

img {
    position: relative;
}

#food-family {
    border-color: aqua;
}

#family-shelter {
    border-color: darkkhaki;
}

#child-education {
    border-color: darkseagreen;
}



footer h1 {
    background-color: black;
    text-align: center;
    color: white;
}

footer p {
    background-color: black;
    color: white;
    text-align: center;
}